body {
  font-family: "Source Sans Pro", sans-serif;
  }

  #background-image {
    background: url(https://bankjoy.com/assets/images/backgrounds/background.jpg) no-repeat center top fixed;
    background-size: cover;
    width: 100%;
    height: 100%vh;
    margin: 0px;
    top: 0px;
    left:0px;
    position: absolute;
  }

  #overlay {
    background-color: #565E7D;
    width: 100%;
    height: 100%;
    margin: 0px;
    top: 0px;
    left: 0px;
    opacity: .93;
    position: absolute;
  }

  .nav-contact {
    width: 40%;
    text-align: right;
    margin: 20px 7px 0px 7px;
  }

  .contact {
    display: inline-block;
    padding: 20px 7px 0px 7px;
  }

  #phone {
    text-decoration: none;
    font-family: "Source Sans Pro";
    color: #FFFFFF;
    font-size: 1.07em;
    font-weight: 200;
  }

  #phone:hover {
    color: #5373DA;
  }

  #email {
    text-decoration: none;
    font-family: "Source Sans Pro";
    color: #FFFFFF;
    font-size: 1.07em;
    font-weight: 200;
  }

  #email:hover {
    color: #5373DA;
  }

  span {
    padding: 8px;
  }

  .content {
    width: 80%;
    margin: 100px auto 0px auto;
    position: relative;
    opacity: 1;
    height: 100%;
  }

  #company-name {
    margin: 40px auto 0px auto;
  }

  #logo{
    opacity: 1;
    width: 24%;
    margin: 50px auto 0px auto;
    display: block;
  }
  #slogan-box{
    margin: 35px auto;
  }
  #slogan{
    font-size: 3.8em;
    color: #FFFFFF;
    margin: 0 auto;
    text-align: center;
    font-weight: 100;
  }
  #action-box{
    margin: 12px auto;
  }
  #action-call{
    color:#A1A1AC;
    font-variant: normal;
    margin:auto;
    width:100%;
    text-align: center;
    font-size: .9em;
  }

  .demo {
    width: 100%;
  }

  #demo-button {
    width: 150px;
    background-color: #5373DA;
    border-radius: 50px;
    padding: 15px 30px 15px 30px;
    margin: 50px auto;
    text-align: center;
    font-weight: 200;
    font-size: 1.1em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0,0,0,0);
  }

  #demo-button:hover {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: .25s;
    animation-duration: .25;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    color: #FFFFFF;
  }

  webkit-keyframes pulse{
    25%{
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }

  keyframes pulse {
    25%{
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }
  }

#demo-link {
  text-decoration: none;
  color: #FFFFFF;
  margin: 0px auto 0px auto;
}
