body{
  background-image: url("https://bankjoy.com/assets/images/backgrounds/background.jpg");
  position: relative;
  padding: 0;
	color: #5A646E;
	text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  }

h1{
  font-weight: 300;
  font-size: 60px;
  margin-bottom: 60px;
  color: white;
}

h2{
  font-weight: 100;
  margin-bottom: 60px;
  font-size: 52px;
  color: white;
}

h5{
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 auto;
  max-width: 500px;
}
